<% provide(:title_tag, "Recently played #{@dj.name}") %>

<p>
  <%= link_to "Back to #{@dj.name}'s page", dj_path(@dj) %>
</p>

<h1>Songs by <%= link_to @artist.name, artist_path(@artist) %> played by <%= link_to @dj.name, dj_path(@dj) %></h1>

<table>
  <thead>
    <th>Artist</th>
    <th>Song</th>
    <th>Release</th>
    <th>Label</th>
  </thead>
  <tbody>
  <% @spins.each do |spin| %>
    <%= render "spins/spin", spin: spin %>
    <%# render :partial => 'spins/spin', object: spin %>

  <% end %>
  </tbody>
</table>

<%= pagy_nav(@pagy).html_safe %>
