<% provide(:title_tag, 'Artists Played') %>

<h1>Artists</h1>
<%= search_form_for @q_artist do |f| %>
  <%= f.search_field :name_cont, placeholder: 'Search Artists' %>
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
  <% @artists.each do |artist| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= link_to artist.name, artist_path(artist) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_nav_js(@pagy).html_safe %>
<%== pagy_combo_nav_js(@pagy).html_safe %>
