<% provide(:title_tag, "Recently played by #{@artist.name}") %>

<h1><%= "#{@artist.name}" %></h1>

<p><%= simple_format(@artist.lastfm_bio) %></p>

<%= render "artist_links" if (@artist.lastfm_url.present? || @artist.discogs_url.present? ) %>

<div class="play_info">
  <h2>Played:</h2>
  <dl>
    <dt>Today:</dt>
    <dd><%= today_count %></dd>
    <dt>Yesterday:</dt>
    <dd><%= yesterday_count %></dd>
    <dt>This Week:</dt>
    <dd><%= this_week_count %></dd>
    <dt>This Month:</dt>
    <dd><%= this_month_count %></dd>
    <dt>Last Month:</dt>
    <dd><%= last_month_count %></dd>
    <dt>All Time:</dt>
    <dd><%= "#{@artist.spins_count}" %></dd>
  </dl>
</div>

<h1>Recently Played</h1>

<table>
  <thead>
    <th>Song</th>
    <th>Release</th>
    <th>Label</th>
    <th>Played</th>
  </thead>
  <tbody>
  <% @spins.each do |spin| %>

    <%= render "artist_spin", spin: spin %>

  <% end %>
  </tbody>
</table>

<%= pagy_nav(@pagy).html_safe %>
