<% provide(:title_tag, "Recently played by #{@artist.name}") %>

<h1><%= "#{@artist.name}" %></h1>
<div id="artist-info" class="grid-x">
  <div class="cell small-12 medium-2">

    <%= render "artist_links" if (@artist.lastfm_url.present? || @artist.discogs_url.present? ) %>

      <div class="play_info">
        <h3>Played:</h3>
        <ul class="no-bullet">
          <li>Today: <%= today_count %></li>
          <li>This Week: <%= this_week_count %></li>
          <li>This Month: <%= this_month_count %></li>
          <li>Last Month: <%= last_month_count %></li>
          <li>All Time: <%= "#{@artist.spins_count}" %></li>
        </ul>
      </div>

  </div>
  <div class="cell small-12 medium-10">
    <h4>LastFM Bio</h4>
    <article id="bio" class="js-read-more">
      <p><%= simple_format(@artist.lastfm_bio) if @artist.lastfm_bio.present? %></p>
    </article>
  </div>
</div>

<div id="artist-spins" class="grid-x">
  <div class="small-12">
    <h2>Recently Played</h2>

    <table class="hover">
      <thead>
        <th>Song</th>
        <th>Release</th>
        <th>Label</th>
        <th>Played</th>
      </thead>
      <tbody>
      <% @spins.each do |spin| %>

        <%= render "artist_spin", spin: spin %>

      <% end %>
      </tbody>
    </table>

    <%= pagy_foundation_nav(@pagy).html_safe %>
  </div>
</div>

<script>
  $('#bio').readmore({embedCSS: false,moreLink: '<a href="#">Show more of the   LastFM bio</a>'});
</script>

