
<h2><%= link_to @artist.name, artist_path(@artist) %></h2>
<h3><%= "#{@release.title}" %></h3>
<h4><%= "#{@release.year}" %>

<div>
  <%= image_tag @release.discogs_img, alt: "#{@artist.name} - #{@release.title}" if @release.discogs_img.present? %>
</div>

<p>
  Played: <%= pluralize(@release.spins_count, 'time', 'times') %> since <%= format_date_time(@release.created_at) %>
</p>

<table>
  <thead>
    <th>Song</th>
    <th>Release</th>
    <th>Label</th>
    <th></th>
  </thead>
  <tbody>
  <% @spins.each do |spin| %>
    <%= render 'artist_spin', spin: spin %>
  <% end %>
  </tbody>
</table>
