<% provide :title_tag, 'DJs' %>
<h1>DJs</h1>
<%= search_form_for @q_dj do |f| %>
  <%= f.search_field :name_cont, placeholder: 'Search by name' %>
  <%= f.submit %>
<% end %>
<table id='djs'>
  <thead>
    <th>Name</th>
    <th>Last Seen</th>
    <th>First Seen</th>
  </thead>
  <tbody>
  <% @djs.each do |dj| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= link_to dj.name, dj_path(dj) %></td>
      <td class="dates"><%= dj.updated_at.strftime('%m/%d/%Y') %></td>
      <td class="dates"><%= dj.created_at.strftime('%m/%d/%Y') %></td> 
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_nav_js(@pagy).html_safe %>
<%== pagy_combo_nav_js(@pagy).html_safe %>
