<% provide :title_tag, 'DJs' %>
<h1>DJs</h1>
<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont, placeholder: 'Search by name' %>
  <%= f.submit %>
<% end %>
<table>
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
  <% @djs.each do |dj| %>
    <tr>
      <td><%= link_to dj.name, dj_path(dj) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= pagy_nav(@pagy).html_safe %>
