<% provide(:title_tag, "Recently played #{@dj.name}") %>

<h1><%= "#{@dj.name}" %></h1>

<%= render 'most_played' if @dj.most_played_artist.any? %>

<h2>Recently Played</h2>

<table>
  <thead>
    <th>Artist</th>
    <th>Song</th>
    <th>Release</th>
    <th>Label</th>
    <th>Time</th>
  </thead>
  <tbody>
  <% @spins.each do |spin| %>
    <%= render "spin", spin: spin %>
  <% end %>
  </tbody>
</table>

<%== pagy_nav_js(@pagy).html_safe %>
<%== pagy_combo_nav_js(@pagy).html_safe %>
