<% provide(:title_tag, "Recently played #{@dj.name}") %>

<h1><%= "#{@dj.name}" %></h1>

<%= render 'most_played' if @dj.most_played_artist.any? %>

<h2>Recently Played</h2>

<div class="turbo-table">
  <div class="turbo-header">
    <div class="turbo-header-cell">Artist</div>
    <div class="turbo-header-cell">Song</div>
    <div class="turbo-header-cell">Release</div>
    <div class="turbo-header-cell">Label</div>
    <div class="turbo-header-cell">Played at</div>
  </div>
  <% @spins.each do |spin| %>
    <%= render "spins/spin", spin: spin %>
  <% end %>
</table>

<%== pagy_nav_js(@pagy).html_safe %>
<%== pagy_combo_nav_js(@pagy).html_safe %>
