    <tr>
      <td class="artist"><%= link_to spin.artist.name, artist_path(spin.artist) %></td>
      <td class="track"><%= spin.track %></td>
      <td class="release"><%= link_to spin.release.title, artist_release_path(spin.artist, spin.release) %></td>
      <td class="record-label"><%= spin.label.name %></td>
      <td class="time"><%= spin.spin_time %></td>
    </tr>
