<%- is_artist_table ||= false %>
<div id="<%= dom_id(spin) %>" class="turbo-row spin<%= ' artist' if is_artist_table %>">
  <% unless is_artist_table %>
    <div class="cell artist"><%= link_to spin.artist.name, artist_path(spin.artist), target: '_top' %></div>
  <% end %>
  <div class="cell track"><%= spin.track %></div>
  <div class="cell release"><%= link_to spin.release.title, artist_release_path(spin.artist, spin.release) %></div>
  <div class="cell record-label"><%= spin.label.name %></div>
  <div class="cell time"><%= spin_time_with_dj(spin) %></div>
</div>
