<% provide :title_tag, 'Recently Played' %>

<h1>Recently Played</h1>
<div class="cell">
  <%= search_form_for @q, method: :post, url: search_spins_path do |f| %>
    <%= f.search_field :spin_cont, placeholder: 'Search artist or song' %>
    <%= f.submit %>
  <% end %>
</div>

<table class="hover stack">
  <thead>
    <th width="20%">Artist</th>
    <th width="20%">Song</th>
    <th width="20%">Release</th>
    <th width="20%">Label</th>
    <th width="20%">Played at</th>
  </thead>
  <tbody>
  <% @spins.each do |spin| %>
    <%= render 'spin', spin: spin %>
  <% end %>
  </tbody>
</table>

<%= pagy_foundation_nav(@pagy).html_safe %>
