<% provide :title_tag, @search_term.nil? ? 'Recently Played' : 'Search Results' %>

<h1 class="font-sans"><%= yield :title_tag %></h1>

<% unless @search_term.nil? %>
  <div>
    <strong>Searched For:</strong> "<%= @search_term %>"
  </div>
<% end %>

<% unless @spins.empty? %>
  <%= render 'spin_table', spins: @spins %>

  <div class="flex justify-center font-bold uppercase">
    <%== pagy_nav_js(@pagy).html_safe %>
    <%== pagy_combo_nav_js(@pagy).html_safe %>
  </div>

<% else %>
  No spins found. Play it!
<% end %>

