<% provide :title_tag, 'Recently Played' %>

<h1>Recently Played</h1>
<div class="cell">
  <%= search_form_for @q, method: :post, url: search_spins_path do |f| %>
    <%= f.search_field :spin_cont, placeholder: 'Search artist or song' %>
    <%= f.submit %>
  <% end %>
</div>

<table class="border-collapse table-fixed">
  <thead>
    <th class="chirp-th w-1/5 bg">Artist</th>
    <th class="chirp-th w-1/5 bg">Song</th>
    <th class="chirp-th w-1/5 bg">Release</th>
    <th class="chirp-th w-1/5 bg">Label</th>
    <th class="chirp-th w-1/5 bg">Played at</th>
  </thead>
  <tbody>
  <% @spins.each do |spin| %>
    <%= render 'spin', spin: spin %>
  <% end %>
  </tbody>
</table>

<%== pagy_nav_js(@pagy).html_safe %>
<%== pagy_combo_nav_js(@pagy).html_safe %>
