<% provide :title_tag, 'Recently Played' %>

<h1 class="font-sans">Recently Played</h1>
<div>
  <%= search_form_for @q, method: :post, url: search_spins_path, data: { turbo: false } do |f| %>
    <%= f.search_field :spin_cont, placeholder: 'Search artist or song' %>
    <%= f.submit %>
  <% end %>
</div>

<%= render 'spin_table', spins: @spins %>

<%== pagy_nav_js(@pagy).html_safe %>
<%== pagy_combo_nav_js(@pagy).html_safe %>
