<% @base_title = 'chrptrckr' %>
<% @page_title_text = yield :title_tag %>
<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{@base_title}" %><%= page_title_tag @page_title_text %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= (link_to '< Home', root_path) unless current_page?(root_path) %>
    <%= (link_to 'Artists', artists_path) unless current_page?(artists_path) %>
    <%= (link_to 'DJs', djs_path) unless current_page?(djs_path) %>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
