<% @base_title = 'chrptrckr' %>
<% @page_title_text = yield :title_tag %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= "#{@base_title}" %><%= page_title_tag @page_title_text %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <nav class="bg-white shadow-lg">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
              <%= link_to '< Home', root_path %>
              <%= link_to 'Artists', artists_path %>
              <%= link_to 'DJs', djs_path %>
              <%= link_to 'Most Played', most_played_path %>
          </div>
        </div>
      </div>
    </nav>

    <% if flash[:alert] %>
      <div class="callout alert"><%= flash[:alert] %></div>
    <% end %>

    <main class="grid place-items-center">
      <%= yield %>
    </main>
  </div>
  </body>
</html>
